<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= name %></h1>
    <p><%= price %>$</p>
    <p>
        <% if (isActive) { %>
         <span>Product for sale!</span>
        <% }  else { %>
            <span>Product not for sale!</span>
        <% } %>

    </p> 
</body>
</html>